{% extends 'index.html' %}

{% block main %}
<div class="main_about">
    <h1>О нас</h1>
    <p> PC- это ваш надежный источник качественных компьютерных комплектующих и периферии</p>
    <h3>Наша миссия:</h3>
    <p>  Предоставить нашим клиентам широкий выбор комплектующих от ведущих мировых производителей.</p>
    <p>Гарантировать высокое качество товаров и доступные цены.</p>
    <p>Обеспечить клиентам безупречный сервис и профессиональную консультацию.</p>
    <h3>Что отличает нас от других:</h3>
    <p>Обширный ассортимент: У нас вы найдете все, что нужно для сборки персонального компьютера или модернизации уже имеющегося.</p>
    <p>Высокое качество: Мы сотрудничаем только с проверенными поставщиками, поэтому гарантируем качество всех наших товаров.</p>
    <p>Конкурентоспособные цены: Мы предлагаем конкурентные цены на все товары, чтобы сделать покупку максимально выгодной для вас.</p>
    <p>Индивидуальный подход: Наши опытные консультанты всегда готовы помочь вам с выбором комплектующих, подобрать оптимальную конфигурацию и ответить на любые ваши вопросы.</p>
    <p>Быстрая доставка: Мы предлагаем различные варианты доставки, чтобы вы получили свой заказ максимально быстро и удобно.</p>
    <p>Гарантия качества: Мы предоставляем гарантию на все товары в соответствии с условиями производителя.</p>
    <h3>Наши ценности:</h3>
    <p>Клиент на первом месте: Мы стремимся к тому, чтобы каждый клиент был доволен покупкой и возвращался к нам снова.</p>
    <p>Профессионализм: Мы всегда работаем на высоком уровне, стараясь соответствовать всем вашим ожиданиям.</p>
    <p>Доверие: Мы ценим доверие наших клиентов и стараемся его оправдывать.</p>
    <h3>Присоединяйтесь к нам:</h3>
    <p>Подпишитесь на наши социальные сети.</p>
</div>
{% endblock %}