{% extends 'index.html' %}
{%load static%}
{% load crispy_forms_tags %}
{% block main %}

 <div class="content-section">
      <div class="media">

        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
            {% if user.profile.image.url %}
                <img src="{{ user.profile.image.url }}" alt="" class="def">
            {% else %}
                <img src="{% static 'images/default.jpg'%}" alt="" class="def">
            {% endif %}
            <form method="post" class="imgform" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="imgbut">Обновить</button>
  </form>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
     <a href="{% url 'logout' %}">Выйти</a>
    </div>
  </div>
{% endblock %}