{% extends 'index.html' %}
{%load static%}
{% block main %}
      <div class="soc">
          <div class="block">
          <p>Vk</p>
          <a href="https://vk.com/twt2018"><img src="{% static 'images./vk.png'%}" alt=""></a>
              </div>
          <div class="block">
          <p>Discord</p>
          <a href="https://discord.com/accessibility"><img src="{% static 'images./discord.png'%}" alt="" class="disc"></a>
              </div>
          <div class="block">
          <p>Gmail</p>
          <a href="https://discord.com/accessibility"><img src="{% static 'images./gmail.png'%}" alt="" class="disc"></a>
              </div>
          <p>zenas7160@gmail.com</p>
          </div>

          </div>
{% endblock %}